<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @backend_customer.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @backend_customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @backend_customer.last_name %>
</p>

<%= link_to 'Edit', edit_backend_customer_path(@backend_customer) %> |
<%= link_to 'Back', backend_customers_path %>
